<div id="crop-component" class="card mx-auto shadow-lg" {{ attributes }}>
    <div class="card-header p-2">
        {{ ux_icon('crop') }}
        <strong class="ms-1 pt-1 d-inline-block">Smart Image Cropping</strong>
        <button {{ live_action('reset') }} class="btn btn-sm btn-outline-secondary float-end">
            {{ ux_icon('cancel') }} Reset
        </button>
    </div>
    <div id="chat-body" class="card-body p-4">
        {% if not croppedImage %}
            <div data-loading="action(crop)|hide">
                <h5>Upload</h5>
                {% set form = this.form %}
                {{ form_start(form, {
                    attr: {
                        'data-action': 'live#action:prevent',
                        'data-live-action-param': 'crop',
                        'data-model': 'norender|*'
                    }
                }) }}
                    <div class="row">
                        <div class="col-md-8">
                            {{ form_row(form.originalImage) }}
                        </div>
                        <div class="col-md-2 mb-3">
                            {{ form_row(form.format) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.width) }}
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">
                            {{ ux_icon('crop') }}
                            Crop My Image!
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        {% else %}
            <div data-loading="action(crop)|hide">
                <div class="row text-start">
                    <div class="col-md-6">
                        <h5>Original Image</h5>
                        <div class="bg-body-secondary rounded text-center p-3">
                            <img src="{{ imageData }}" alt="Original Image" class="img-fluid mt-2" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Cropped Image</h5>
                        <div class="bg-body-secondary rounded text-center p-3">
                            <img src="{{ croppedImage }}" alt="Cropped Image" class="img-fluid mt-2" />
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div data-loading="action(crop)|show" class="text-center py-5">
            <div class="spinner-border text-primary mb-4" role="status" style="width: 5rem; height: 5rem;">
                <span class="visually-hidden">Cropping...</span>
            </div>
            <h4 class="text-muted mb-2">Analyzing your image…</h4>
            <p class="text-secondary small m-0">Finding the most relevant area to crop</p>
        </div>
    </div>
</div>
